/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
  font-family: 'Schoolbell', cursive;
}
h2 {
  font-size: 3.2rem;
  font-family: 'Schoolbell', cursive;
  color: #1A1409;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
}
/*Background*/
body {
  background-color: #E5DABD;
  justify-content: center;
}
/*Navigation Conainer*/
.nav {
  display: flex;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  background-color: #AE4110;
  box-shadow: 0 0 12px 0 #1A1409;
  transition: 0.5s;
}
.nav .logo-txt {
  margin: 1.3rem;
  color: #E5DABD;
  text-shadow: 4px 4px #1A1409;
}
.nav .btns {
  margin: 1rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.nav .btns button {
  margin: 1rem 0.3rem 1rem 0.3rem;
  font-size: 1.5rem;
  padding: 0.13rem 0.3rem;
  box-shadow: 0 3px 5px 0 #1A1409;
  transition: 0.3s;
  border-radius: 10px 0 10px 0;
  color: #E5DABD;
  background-color: #1A1409;
  cursor: pointer;
}
.nav .btns button:hover {
  text-decoration: line-through;
  color: #1A1409;
  background-color: #E5DABD;
}
/*Header Styles*/
.head {
  background: #763C22;
  border-radius: 0 15px 0 15px;
  box-shadow: 0 9px 15px 0 #763C22;
  transition: 0.3s;
  color: #E5DABD;
  padding: 2rem;
  border: 1px solid #1A1409;
  margin-bottom: 3rem;
  margin: 0 7% 3rem 7%;
  width: 85%;
}
.head img {
  border-radius: 10px 3px 10px 3px;
  box-shadow: 0 9px 15px 0 #763C22;
  transition: 0.3s;
  margin-bottom: 20px;
}
.head .head-txt {
  text-align: center;
  margin: 20px 0 20px 0;
  padding: 1rem;
}
.head .head-txt h2 {
  color: #E5DABD;
}
/*Card Component*/
.card-box {
  background: #763C22;
  border: 1px solid #1A1409;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 9px 12px 0 #1A1409;
  transition: 0.3s;
  display: flex;
  flex-wrap: nowrap;
  margin: 15px 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.card-box::-webkit-scrollbar {
  display: none;
}
.card-box .card {
  flex: 0 0 auto;
  border: 1px solid #1A1409;
  border-radius: 0 15px 0 15px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 23rem;
  text-align: center;
  background: #81905A;
  box-shadow: 0 9px 12px 0 #1A1409;
  transition: 0.3s;
  color: #E5DABD;
}
.card-box .card img {
  width: 80%;
  height: auto;
  margin: 9%;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 3px 5px 0 #1A1409;
  transition: 0.3s;
}
.card-box .card h3 {
  color: #AE4110;
  margin: 1.5rem 0 1rem 0;
}
.card-box .card button {
  width: 85%;
  height: 3.5rem;
  margin: 0 7%;
  box-shadow: 0 3px 5px 0 #1A1409;
  transition: 0.3s;
  border-radius: 10px 0 10px 0;
  color: #E5DABD;
  background-color: #1A1409;
  cursor: pointer;
}
.card-box .card button:hover {
  color: #1A1409;
  background-color: #E5DABD;
}
/*Info Cards*/
.i-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.i-card-box .i-card {
  border: 1px solid #1A1409;
  border-radius: 0 15px 0 15px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  text-align: center;
  background: #81905A;
  box-shadow: 0 9px 12px 0 #1A1409;
  transition: 0.3s;
  color: #E5DABD;
  padding: 1rem;
}
.i-card-box .i-card h3 {
  font-size: 1.7rem;
}
.i-card-box .i-card p {
  font-weight: bold;
  font-style: 2rem;
}
.i-card-box .i-card button {
  width: 85%;
  height: 3.5rem;
  margin: 0 7%;
  box-shadow: 0 3px 5px 0 #1A1409;
  transition: 0.3s;
  border-radius: 10px 0 10px 0;
  color: #E5DABD;
  background-color: #1A1409;
  cursor: pointer;
}
.i-card-box .i-card button:hover {
  color: #1A1409;
  background-color: #E5DABD;
}
/*Footer*/
footer {
  display: flex;
  width: 100%;
  background-color: #AE4110;
  box-shadow: 0 0 12px 0 #1A1409;
  transition: 0.5s;
}
